
@media screen and (max-width: 767px) {
  model-viewer { display: none; }
  #poster-container { display: block; }
}

@media screen and (min-width: 768px) {
  model-viewer { display: block; }
  #poster-container { display: none; }
}